@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

@import url("https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css");

body {
  /* Apply Tailwind utilities to the body element */
  @apply bg-gray-100 font-sans leading-normal tracking-normal;
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@400;500&display=swap");

.af-font {
  font-family: "Abril Fatface", cursive;
}

.qs-font {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}

::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 9999px;
}
